body {
	margin: 0;
	padding: 0;
	min-width: 420px;
	height: auto;
	overflow-x: hidden;
	font-size: 1em;
	color: #333;
}

.transpaul {
	padding: 10px;
}

.transpaul-loader {
	display: block;
	margin: auto;
	padding: 0;
	vertical-align: middle;
	width: 64px;
}

.transpaul-loader-text {
	color: #999;
	font-size: 0.8em;
	text-align: center;
}

.transpaul-danger {
	color: #8c3a2b;
}

.transpaul-warning {
	color: #af9540;
}

.transpaul-icon {
	float: right;
	width: 40px;
}

.transpaul-title {
	font-weight: bold;
	font-size: 1.15em;
}

.transpaul-subtitle {
	font-size: 0.8em;
	color: #999;
}

/**
 * Transpole.js (Bus)
 */
.transpole-no-bus {
	margin: -10px;
	padding: 0;
	width: 380px;
}
.transpole-no-bus > img {
	width: 100%;
	vertical-align: middle;
}
.transpole-no-bus > p {
	margin: -50px 0 0 0;
	color: white;
	font-size: 1.8em;
	text-align: center;
	text-shadow: 1px 1px 3px #333;
}

.transpole-nexts {
	margin-top: 10px;
	padding-top: 15px;
	border-top: 1px solid #c2c2c2;
	font-size: 1em;
}

.transpole-next {
	padding: 5px 20px;
}

.transpole-remaining-number {
	font-size: 1.4em;
	font-weight: bold;
}

/**
 * vlille.js
 */
.vlille-data {
	margin-top: 1.6em;
}

.vlille-closest {
	margin-top: 10px;
	padding-top: 15px;
	border-top: 1px solid #c2c2c2;
	font-size: 1em;
}

.vlille-station {
	padding: 4px 0;
}

.vlille-icon {
	display: inline-block;
	margin-top: -4px;
	width: 25px;
}