body {
	margin: 0;
	padding: 0;
	min-width: 380px;
	height: auto;
	overflow-x: hidden;
	font-size: 1em;
}

.transpaul {
	padding: 10px;
}

.transpaul-loader {
	margin: -10px;
	padding: 0;
	vertical-align: middle;
	width: 380px;
}

.transpaul-no-bus {
	margin: -10px;
	padding: 0;
	width: 380px;
}
.transpaul-no-bus > img {
	width: 100%;
	vertical-align: middle;
}
.transpaul-no-bus > p {
	margin: -50px 0 0 0;
	color: white;
	font-size: 1.8em;
	text-align: center;
	text-shadow:1px 1px 3px #333;
}

.transpaul-stopname {
	font-weight: bold;
	font-size: 1.15em;
}

.transpaul-direction {
	font-size: 0.8em;
}

.transpaul-nexts > h3 {
	font-size: 1em;
}

.transpaul-next {
	font-size: 0.9em;
}

.transpaul-remaining {
	font-size: 1.4em;
	font-weight: bold;
}