body {
	margin: 0; padding: 0;
	min-width: 280px;
	height: auto;
	overflow-x: hidden;
}
img {
	margin: 0; padding: 0;
	vertical-align: middle;
	width: 280px;
}
.table {
	margin-bottom: 0;
}
.bus-not-found {
	margin: 2px 0;
	text-align: center;
	font-weight: bold;
}